body {
    display: flex;
    height: 100vh;
    margin: 0;
}
.container {
    display: flex;
    width: 100%;
}
.resizable {
    overflow: auto;
}
#leftDiv {
    width: 15%;
    padding: 5px;
    background-color: lightblue;
}
#rightDiv {
    width: 85%;
    padding: 5px;
}
.divider {
    width: 3px;
    background-color: lightblue;
    cursor: ew-resize;
}
ul, ol {
    padding-left: 20px;
}
#leftDiv ul {
    padding: 0;
    list-style-type: none;
}
#leftDiv ul li {
    width: 100%;
    background-color: #f0f0f0;
    margin-bottom: 5px;
}
#leftDiv ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}
#leftDiv ul li a:hover {
    background-color: #ddd;
}
